<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Polyglot</title>
  <link rel="stylesheet" type="css/style.css" href="text/css">
    <style>
</style>
 </head>
 <body>
  <h1> Welcome to Polyglot </h1>

   
       <% if @user == nil %>
   <div style="position: absolute; bottom: 300; right: 0; width: 100px; text-align:right;}">
     <form method="get" action="/signup" style=>
       <button type="submit">Sign up for Polyglot!</button>
     </form>
   </div>
   <% else %>
   
   <% end %>
   
       <% if @user == nil %>
   <div style="position: absolute; bottom: 0; right: 0; width: 100px; text-align:right;">
<form method="get" action="/login">
  <button type="submit">Log in to Polyglot!</button>
</form>
     </div>
   <% else %>
   
   <% end %>
   
       <% if @user == nil %>
   <% else %>
   <div style="position: absolute; bottom: 30; right: 0; width: 100px; text-align:right;">
<form method="get" action="/logout">
  <button type="submit">Log out</button>
</form>
     </div>
<% end %>
 </body>
  </html> 