<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Polyglot</title>
  <link rel="stylesheet" type="css/style.css" href="text/css">
    <style>
</style>
 </head>
 <body>
<img src="css/images/polyglot.jpg" alt="Polyglot" class="displayed">
   <br>
   <br>

   <center>Log in<center>
     <br>
     <br>
  
   <center><black><form method ="POST" action="/login">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Enter">
     </form></black><center>
  