<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Polyglot</title>
  <link rel="stylesheet" type="css/style.css" href="text/css">
 </head>

   <h1> Welcome to Polyglot </h1>
<%=@translation[0][0][0]%>