<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Polyglot</title>
  <link rel="stylesheet" type="css/style.css" href="text/css">
    <style>
</style>
 </head>
 <body>
   <h1> Welcome to Polyglot </h1>

   <form method ="POST" action="/signup">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="Submit!">
   </form>
      

